%li {
    width: 100%;
    max-width: 350px;
    margin-top: 1rem;
    padding: 1rem;

    border: 1px solid var(--grey-1);
    border-radius: 4px;
    border-left-width: 4px;

    background-color: var(--grey-1);
}