main {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

@media (min-width: 960px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}